body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .menu {
    flex-basis: 60%;
  }
  
  .menu h2 {
    text-align: center;
  }
  
  .burger {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .burger img {
    width: 200px;
    height: auto;
  }
  
  .cart {
    flex-basis: 30%;
  }
  
  .cart h2 {
    text-align: center;
  }
  
  #cart-items {
    list-style-type: none;
    padding: 0;
  }
  
  #cart-items li {
    margin-bottom: 10px;
  }
  
  .cart p {
    text-align: right;
  }
  
  .form-container {
    text-align: center;
    padding: 20px;
  }
  
  form {
    display: inline-block;
    text-align: left;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
  }
  
  form input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  form button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }